@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
	/* font-family: 'Amatic SC', cursive; */
	background-color: #ffffff;
	/* color: #cccccc; */ 
}

.intro {
    font-family: 'Amatic SC', cursive;
	background-color: #000000;
	color: #050000;
}

a {
    color: black;
}

p {
	font-size: 4em;
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	opacity: 0;

}

.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
  }

.text{
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	position: fixed; 
	display: table;
}

.t1{
	animation: t-animation 4s;
}

.t2{
	animation: t-animation 4s;
	animation-delay: 4s;
}

.t3{
    font-size: 2em;
    animation: end-animation 2s;
    animation-delay: 11s;
    animation-fill-mode: forwards; 
    position: relative;
    top: 145px;
}

.end{
	animation: end-animation 2s;
	animation-delay: 8s;
	animation-fill-mode: forwards; 
}

.flicker{
	animation: flicker 10s infinite;
}

@keyframes t-animation {
	0% {opacity: 0;}
	30% {opacity: 1;}
	70% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes end-animation {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes flicker {
	40.1% {left:0px;top:0px;}
	40.2% {left:10px;top:8px;}
	40.3% {left:0px;top:0px;}

	90.1% {left:0px;top:0px;}
	90.2% {left:-5px;top:3px;}
	90.3% {left:0px;top:0px;}
}
